<header>
  <h1>Lau Zarate</h1>
  <nav>
    <a (click)="scrollTo('about')">SOBRE MI</a>
    <a (click)="scrollTo('portfolio')">PORTAFOLIO</a>
    <a (click)="scrollTo('contact')">CONTACTO</a>
  </nav>
</header>

<div class="hero">
    <img src="img/about/proflile-img/lau-zarate.png" alt="Foto de Laura Zarate" class="profile-image">
    <h2>LAURA ZARATE</h2>
    <div class="divider-container">
        <div class="divider-line"></div>
        <div class="star-icon">★</div>
        <div class="divider-line"></div>
    </div>
    <p>Desarrolladora Web - Diseñadora</p>
</div>

<section id="about" class="section">
    <h2>SOBRE MÍ</h2>
    <p>Soy Laura, una apasionada del desarrollo web, enfocada en crear sitios modernos, funcionales y accesibles para todos los usuarios.</p>
    <p>(Si algo no funciona, es porque estaba probando si prestabas atención 😉)</p>
</section>

<section class="section">
    <h2>HABILIDADES</h2>
    <p>Me especializo en el desarrollo de aplicaciones web utilizando tecnologías como:</p>
    <section id="Tech" class="techno">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original.svg" />
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg" />
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg" />          
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg" />          
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original.svg" />          
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg" />          
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg" />
    </section>
</section>

<section id="portfolio" class="section">
    <h2>PORTAFOLIO</h2>
    <p>Te comparto alguno de mis proyectos: </p>
    <div class="proyectos-container">
        <div class="proyecto">
            <strong>ArgBroker</strong>
            <p>Aplicación de consola desarrollada en Python que simula operaciones bursátiles en el mercado argentino. Permite a los usuarios crear cuentas, iniciar sesión, consultar cotizaciones de acciones en tiempo real, realizar transacciones de compra y venta, y gestionar su portafolio de inversiones.</p>
            🔗 <a href="https://github.com/Innovacoders-devs/ArgBroker.git" target="_blank">github.com/Innovacoders-devs/ArgBroker</a>
        </div>
        <div class="proyecto">
            <strong>wokwi_Aproximacion</strong>
            <p>Simulación de un sistema embebido desarrollada en Python, que integra sensores, una pantalla OLED y conectividad Wi-Fi. Utiliza el simulador Wokwi para emular el comportamiento de hardware como microcontroladores ESP32, permitiendo pruebas y desarrollo sin necesidad de hardware físico.</p>
            🔗 <a href="https://github.com/lauzarg/wokwi_Aproximacion.git" target="_blank">github.com/lauzarg/wokwi_Aproximacion</a>
        </div>
        <div class="proyecto">
            <strong>ProfeSort</strong>
            <p>Sistema de gestión digital integral desarrollado para el Plan de Finalización de Estudios (FinEs). Su objetivo principal es optimizar los procesos administrativos y académicos, mejorando la eficiencia en la gestión de estudiantes, docentes y materias, y facilitando la toma de decisiones a partir de datos confiables. Desarrollado por ProCoders</p>
            🔗 <a href="https://github.com/ProCoders-ISPC/ProfeSort.git" target="_blank">github.com/ProCoders-ISPC/ProfeSort</a>
        </div>
    </div>
</section>

<section>
    <div class="section">
        <h2><strong>Currículum Vitae</strong></h2>
        <p>Mi experiencia, habilidades y proyectos resumidos en un CV en formato PDF.</p>
        🔗 <a href="https://drive.google.com/file/d/1HzSTGPG2POmj368wMvIi14jvIoi6UwsE/view?usp=sharing" target="_blank">Ver / Descargar CV</a>
    </div>
</section>

<section id="contact" class="section">
    <h2>CONTACTO</h2>
    <p>Podés escribirme a <a href="mailto:lauzarg@gmail.com">lauzarg@gmail.com</a></p>
</section>

<footer>
    <p>&copy; 2025 - Lau Zarate</p>
</footer>

