* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

html {
  font-size: 16px;
}

/* ===== TIPOGRAFÍAS ===== */
@font-face {
  font-family: "Acephimere";
  src: url("../../fonts/Acephimere.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Acephimere_Bold";
  src: url("../../fonts/Acephimere Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Acephimere_Italic";
  src: url("../../fonts/Acephimere Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Acephimere_Thin";
  src: url("../../fonts/Acephimere Thin.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

/* ===== ESTILOS BASE DEL BODY ===== */
body {
  font-family: "Acephimere", sans-serif;
  margin: 0;
  font-size: 16px;
  line-height: 1.6;
  color: var(--text-light);
}

body.admin,
body.panel-user {
  background-color: var(--background-light);
  color: var(--secondary-dark);
}

body.about {
  background-color: var(--background-blue);
}

a {
  color: inherit;
  text-decoration: none;
  font: inherit;
}