<footer class="footer">
  <div class="footer__logo">
    <img
      src="/assets/img/home/logo/ProfeSort_darkgreen.svg"
      alt="Clase en curso"
      height="100"
    />
  </div>
  <div class="footer__links">
    <a href="#" aria-label="Facebook">
      <img src="/assets/img/socialmedia-icons/facebook.png" alt="Facebook" />
    </a>
    <a href="#" aria-label="Instagram">
      <img
        src="/assets/img/socialmedia-icons/instagram.png"
        alt="Instagram"
      />
    </a>
    <a href="#" aria-label="WhatsApp">
      <img src="/assets/img/socialmedia-icons/whatsapp.png" alt="WhatsApp" />
    </a>
  </div>
  <p>
    &copy; 2025 ProfeSort | Plataforma Educativa. Todos los derechos
    reservados.
  </p>
</footer>
