.form-container--auth {
  background-color: var(--primary-dark) !important;
  color: var(--white);
  z-index: 10;
  width: 100%;
  max-width: 400px;
  height: 400px;
  position: relative;
}

.form-container--auth .form-input {
  border: none;
  border-radius: 6px;
  background-color: var(--white);
  color: var(--text-dark);
}

.form-container--auth .form-input:focus {
  border-color: var(--accent-blue);
  box-shadow: 0 0 0 2px rgba(58, 189, 204, 0.2);
}

.form-container--auth .form-label {
  color: var(--white);
  margin-top: 20px;
}

.form-container--auth .form-input::placeholder {
  color: #666;
}

.form-container--auth .form-checkbox-input {
  accent-color: var(--light-blue);
}

.form-container--auth .form-help {
  color: var(--white);
}

.form-container--auth .form-help a {
  color: var(--accent-yellow);
}

.form-container.form-container--auth .form-label {
  color: var(--white) !important;
}