  <section id="portfolio" class="section">
    <h2>PORTAFOLIO</h2>
     <p>Te comparto alguno de mis proyectos: </p>
    
    <div class="proyectos-container">
      <div class="proyecto">
        <strong>ArgBroker</strong>
        <p>Aplicación de consola desarrollada en Python que simula operaciones bursátiles en el mercado argentino. Permite a los usuarios crear cuentas, iniciar sesión, consultar cotizaciones de acciones en tiempo real, realizar transacciones de compra y venta, y gestionar su portafolio de inversiones.</p>
        🔗 <a href="https://github.com/Innovacoders-devs/ArgBroker" target="_blank">github.com/Innovacoders-devs/ArgBroker</a>
      </div>
      <div class="proyecto">
        <strong>wokwi_Aproximacion</strong>
        <p>simulación de un sistema embebido desarrollada en Python, que integra sensores, una pantalla OLED y conectividad Wi-Fi. Utiliza el simulador Wokwi para emular el comportamiento de hardware como microcontroladores ESP32, permitiendo pruebas y desarrollo sin necesidad de hardware físico.</p>
        🔗 <a href="https://github.com/Innovacoders-devs/wokwi_Aproximacion" target="_blank">github.com/Innovacoders-devs/wokwi_Aproximacion</a>
      </div>
      <div class="proyecto">
        <strong>ProfeSort</strong>
        <p>sistema de gestión digital integral desarrollado para el Plan de Finalización de Estudios (FinEs). Su objetivo principal es optimizar los procesos administrativos y académicos, mejorando la eficiencia en la gestión de estudiantes, docentes y materias, y facilitando la toma de decisiones a partir de datos confiables. Desarrollado por ProCoders</p>
        🔗 <a href="https://github.com/Innovacoders-devs/ProfeSort" target="_blank">github.com/Innovacoders-devs/ProfeSort</a>
      </div>
    </div>
  </section>

  <section><div class="section">
    <h2><strong>Currículum Vitae</strong></h2>
      <p>Mi experiencia, habilidades y proyectos resumidos en un CV en formato PDF.</p>
    🔗 <a href="./assets/Mi_CV.pdf" target="_blank">Ver / Descargar CV</a>
</div></section>

