
/* Botón principal de formularios */
.form-primary-button {
  width: 100%;
  margin-top: 20px;
  background-color: var(--secondary-dark);
  color: var(--white);
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  font-family: "Acephimere", sans-serif;
  box-shadow: 0 4px 15px var(--shadow-medium);
  display: block;
  transition: background 0.2s, color 0.2s;
}

.form-primary-button:hover {
  background-color: var(--secondary-teal);
  color: var(--white);
}
