
/*Aca esta el css del titulo*/

.title{
    font-size: 15px;
}


/*Aca esta el css de la seccion de novedades del Home*/
.novedades{
display: flex;
flex-direction: column;

}
.novedades-section-contenedor_noticias{
    height: 150px;
    width: 100%;
    border: 1px solid red;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.contenedor_noticias-card{
    border: 1px solid red;
    height: 80px;
    width: 80px;
}

.contenedor_noticias-card > img{
height: 100%;
width: 100%;

}