<div class="docente-layout">
  <div class="sidebar-overlay" id="sidebarOverlay" (click)="closeSidebar()" [class.active]="sidebarOpen"></div>

  <nav class="sidebar" [class.active]="sidebarOpen">
    <div class="nav-header">
      <div class="nav-logo">ProfeSort Docente</div>
    </div>

    <nav class="sidebar-menu">
      <div class="menu-item" routerLinkActive="active">
        <a [routerLink]="['/docente/estudiantes']" class="d-flex align-items-center text-decoration-none text-reset w-100" (click)="closeSidebar()">
          <div class="menu-icon">
            <img src="./img/icons/credential_icon.svg" alt="Icono Estudiantes" height="20">
          </div>
          <div>Estudiantes</div>
        </a>
      </div>

      <div class="menu-item" routerLinkActive="active">
        <a [routerLink]="['/docente/materias']" class="d-flex align-items-center text-decoration-none text-reset w-100" (click)="closeSidebar()">
          <div class="menu-icon">
            <img src="./img/icons/subjects_icon.svg" alt="Icono Materias" height="20">
          </div>
          <div>Materias</div>
        </a>
      </div>

    </nav>

    <div class="logout-button">
      <button class="btn-logout" (click)="cerrarSesion()">
        <img src="/img/icons/logout_icon.svg" alt="Cerrar sesión" height="20" class="logout-icon">
        <span>Cerrar sesión</span>
      </button>
    </div>
  </nav>


  <div class="main-content w-100">
    <div class="header">
      <button class="responsive-toggle" id="sidebarToggle" (click)="toggleSidebar()">
        <i class="fas fa-bars"></i>
      </button>
      <div class="page-title">Panel Docente</div>
      <div class="user-profile">
        <div class="user-avatar">D</div>
        <div class="d-none d-sm-block">Docente</div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>

</div>