
<nav class="header__nav-desktop">
  <a [routerLink]="aboutLinkRoute">{{ aboutLinkText }}</a>
  <a routerLink="/register">Registro</a>
  <a routerLink="/login">Iniciar Sesión</a>
</nav>


<div class="header__burger">
  <input
    type="checkbox"
    id="header-burger-checkbox"
    class="header__burger-checkbox"
  />
  <label for="header-burger-checkbox" class="header__burger-toggle">
    <span class="header__burger-bar"></span>
    <span class="header__burger-bar"></span>
    <span class="header__burger-bar"></span>
  </label>
  <nav class="header__nav-mobile">
    <label for="header-burger-checkbox" class="header__close-btn"></label>
    <a [routerLink]="aboutLinkRoute">{{ aboutLinkText }}</a>
    <a routerLink="/register">Registro</a>
    <a routerLink="/login">Iniciar Sesión</a>
  </nav>
</div>
