<div class="main-content">
  <div class="form-container">
    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Email</th>
          <th>Materias</th>
          <th>Estudiantes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let docente of docentes">
          <td>{{ docente.name }}</td>
          <td>{{ docente.email }}</td>
          <td>{{ docente.materias }}</td>
          <td>{{ docente.estudiantes }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

